# Ignore everything
*

# Except hometrack_mobile folder
!hometrack_mobile/
!hometrack_mobile/**

# But ignore build artifacts and dependencies inside hometrack_mobile
hometrack_mobile/build/
hometrack_mobile/.dart_tool/
hometrack_mobile/.flutter-plugins
hometrack_mobile/.flutter-plugins-dependencies
hometrack_mobile/.packages
hometrack_mobile/.pub-cache/
hometrack_mobile/.pub/

# macOS
.DS_Store
